.h2 {
  margin-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  height: 100%;
  width: auto;
  border: 1px solid green;
  padding: 1em;
  border-radius: 25px;
}

.input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  padding: .5em;
}

.input input {
  text-align: right;
  padding-right: 1em;
}

.inputCheck {
  width: 100%;
  padding: .5em;
  display: flex;
  justify-content: space-between;
}

.form button {
  width: 100%;
  cursor: pointer;
}