.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid green;
  border-radius: 50px;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  align-items: center;
  margin-left: 1em;
}

.divimg {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  padding-right: .25em;
}

.img {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.img:hover {
  background-color: red;
}

@media (max-width: 480px) {
  .dates {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  span {
    font-size: .75em;
  }
}